.header {
  max-width: 984px;
  margin-top: 34px;
  margin-bottom: 0px;
}

.header__logo {
  max-width: 270px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: 20px;
  }

  .header__logo {
    max-width: 200px;
  }
}
