.places {
  max-width: 987px;
  margin-top: 92px;
  margin-bottom: 0px;
  margin-left: 12%;
}

.places__item {
  max-width: 984px;
  margin-bottom: 80px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "title artist"
    "photo description"
    "button description";
}

.places__item:last-of-type {
  margin-bottom: 0;
}

.places__title {
  grid-area: title;
  width: 460px;
  margin-top: 0;
  margin-bottom: 48px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  align-items: end;
}

.places__artist-tag {
  grid-area: artist-tag;
  margin-bottom: 8px;
  margin-top: 0;
  font-size: 12px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #aaaaaa;
  letter-spacing: 0.12em;
}

.places__artist {
  grid-area: artist;
  align-self: flex-end;
  margin-left: 4%;
}

.places__artist-name {
  margin-top: 0px;
  margin-bottom: 48px;
  line-height: 1.22;
}

.places__artist-name-lead {
  margin: 0;
}

.places__artist-name-manager {
  margin: 0;
}

.places__photo {
  grid-area: photo;
}

.places__description {
  grid-area: description;
  margin-left: 4%;
}

.places__paragraph {
  max-width: 484px;
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 1.63;
}

.places__paragraph:last-of-type {
  margin-bottom: 0;
}

.places__button {
  grid-area: button;
  margin-top: 48px;
  max-width: 248px;
  height: 38px;
  background: #0278fe;
  border-radius: 4px;
  border-width: 0;
  color: white;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  padding-block-start: 10px;
}

.places__button:hover {
  background: #0063d2;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 720px;
    margin-right: 24px;
    margin-left: 24px;
  }

  .places__photo {
    max-width: 340px;
  }

  .places__title {
    max-width: 340px;
    font-size: 42px;
    margin-bottom: 46px;
  }

  .places__artist {
    margin-left: 28px;
  }

  .places__description {
    margin-left: 28px;
  }

  .places__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .places {
    margin: 62px 0px 0px 0px;
  }

  .places__item {
    grid-template-areas:
      "title"
      "artist"
      "photo"
      "description"
      "button";
    margin-bottom: 50px;
  }

  .places__title {
    max-width: 288px;
    font-size: 32px;
    margin-bottom: 30px;
    margin-left: 16px;
  }

  .places__photo {
    max-width: 100%;
  }

  .places__artist {
    margin-left: 16px;
  }

  .places__artist-name {
    margin-bottom: 30px;
  }

  .places__description {
    margin: 30px 16px 0px 16px;
  }

  .places__button {
    max-width: 288px;
    margin-top: 30px;
    margin-left: 16px;
    height: 43px;
    padding-block-start: 8px;
  }
}
